<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar type="indeterminate" *ngIf="loading"></ion-progress-bar>

  <div class="chat-container">
    <div class="empty" *ngIf="!loading && threads.length === 0">
      No admin messages yet.
    </div>

    <ion-list *ngIf="threads.length > 0">
      <ion-item
        button
        detail="true"
        *ngFor="let thread of threads; trackBy: trackByThreadId"
        routerLink="/conversactions/{{ thread.threadId }}"
      >
        <ion-label>
          <h2>{{ thread.title || 'Message' }}</h2>
          <p class="thread-preview">{{ thread.lastMessage }}</p>
          <p class="thread-time" *ngIf="thread.lastAt">
            {{ formatTime(thread.lastAt) }}
          </p>
        </ion-label>
        <ion-badge color="primary" *ngIf="thread.unreadCount > 0">
          {{ thread.unreadCount }}
        </ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
