<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Distributed Saintries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h1 style="text-align: center;">Distributed Saintries</h1>

  <ion-list *ngIf="distributedsaintries.length > 0; else noData">

    <ion-card *ngFor="let item of distributedsaintries; trackBy: trackById"
      [ngClass]="{'due-today': item.is_due_today}">

      <ion-card-header>
        <ion-card-title>
          {{ item.member_name }} ({{ item.mobile }})

          <ion-badge color="danger" *ngIf="item.is_due_today">
            Due Now
          </ion-badge>
        </ion-card-title>

        <ion-card-subtitle>
          Last Issue: {{ item.issue_date | date:'mediumDate' }}
        </ion-card-subtitle>

        <ion-button color="warning" size="small" expand="block" *ngIf="item.is_due_today" (click)="reIssue(item)">
          Re-Issue Pad
        </ion-button>

      </ion-card-header>
    </ion-card>

  </ion-list>

  <!-- Infinite scroll -->
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)" *ngIf="hasMoreData">

    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more records...">
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>

  <ng-template #noData>
    <ion-text color="medium" class="ion-text-center">
      <p>No records found.</p>
    </ion-text>
  </ng-template>

  <!-- Add New -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/new-distribution">
    <ion-fab-button color="success">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>