<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1 style="text-align: center;">Groups</h1>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let group of groups;trackBy: trackById">
        <ion-card>
          <ion-card-header>
            <div class="ion-flex ion-justify-content-between ion-align-items-center">
              <div>
                <h2 class="group-title">{{ group.group_name }}</h2>
                <small class="program-name" *ngIf="programObject[group.group_program]">
                  {{ programObject[group.group_program].program_name }}
                </small>
              </div>
              <ion-badge routerLink="/members/{{group.group_id}}">{{ group.group_noof_member }}
                Members</ion-badge>
            </div>
            <ion-card-subtitle>
              Created on: {{ group.group_start_date | date:'dd MMM yyyy' }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <b>Senior EP:</b> {{ group.group_senior_epno }} <br>
            <b>Status:</b>
            <ion-badge color="success" *ngIf="group.group_status == 1">Active</ion-badge>
            <ion-badge color="medium" *ngIf="group.group_status == 0">Closed</ion-badge>
          </ion-card-content>
          <ion-button expand="block" routerLink="/edit-group/{{group.group_id}}" *ngIf="group.group_status==2">
            Edit
          </ion-button>
          <ion-button expand="block" (click)="requesteditGroup(group)"
            *ngIf="group.group_status == 1 && !group.hasEditRequest">
            Request for edit
          </ion-button>
          <ion-button expand="block" color="medium" disabled="true"
            *ngIf="group.group_status == 1 && group.hasEditRequest">
            On your request administrator reviewing
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button routerLink="/new-group">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Refresh (Slightly Up) -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" style="margin-bottom: 80px;">
    <ion-fab-button (click)="doRefresh()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>