ion-item {
    --min-height: 60px;
    border-radius: 10px;
    margin-bottom: 6px;
    background: #f8f9fa;
    transition: 0.2s ease-in-out;

    &:hover {
        background: #eef3ff;
    }
}

.role-text {
    font-size: 13px;
    color: #777;
}