<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="notifications" (click)="navigate('/notifications')">
      <ion-icon name="notifications-outline"></ion-icon>
      Notification
      <ion-badge color="danger" class="footer-badge">{{
        notificationCount
      }}</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="message" (click)="navigate('/message')">
      <ion-icon name="mail-outline"></ion-icon>
      Message
      <ion-badge color="danger" class="footer-badge">{{
        messagecount
      }}</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="news" (click)="navigate('/news')">
      <ion-icon name="newspaper-outline"></ion-icon>
      News
      <ion-badge color="primary" class="footer-badge">2</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="gallery" (click)="navigate('/gallery')">
      <ion-icon name="images-outline"></ion-icon>
      Gallery
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
