<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <div class="logo ion-text-center">
          <img src="assets/SVJ-Images/logo.png" alt="Company Logo" />
        </div>
        <h2 class="ion-text-center" style="font-size: 2rem;">Login</h2>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <ion-item class="ion-margin-top">
          <ion-input [(ngModel)]="formData.mobile" placeholder="Enter registered mobile" type="tel" maxlength="10"
            inputmode="numeric" required>
          </ion-input>
        </ion-item>

        <ion-item class="ion-margin-bottom">
          <ion-input [(ngModel)]="formData.password" placeholder="Password" type="password" required>
          </ion-input>
        </ion-item>

        <ion-button expand="block" (click)="loginClick()">Login</ion-button>
      </div>

      <ion-grid class="ion-margin-top">
        <ion-row>
          <ion-col size="6">
            <ion-button fill="clear" expand="block" routerLink="/signup">
              Sign Up
            </ion-button>

          </ion-col>
          <ion-col size="6">
            <ion-button fill="clear" expand="block" routerLink="/forgot-password">
              Forgot
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>