.member-counter {
    width: 25px;
    height: 25px;
    background-color: #3880ff;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    margin-left: -15px;
    margin-top: 10px;
}