<ion-content class="ion-padding">
  <ion-header class="ion-no-border ion-padding">
    <ion-toolbar class="profile-header">
      <div class="profile-info">
        <img src="assets/SVJ-Images/images.png" class="avatar" />
        <h2>{{ user.volntr_name }}</h2>
        <p>{{ user.volntr_mobile }}</p>
        <p class="email">EPNO : {{ user.volntr_ep_temp }}</p>
      </div>
    </ion-toolbar>
  </ion-header>

  <!-- Stats Section -->
  <div class="stats-container">
    <ion-card class="stat-card">
      <h3>{{countgroup}}</h3>
      <p>Group Created</p>
    </ion-card>
    <ion-card class="stat-card">
      <h3>{{countsainetri}}</h3>
      <p>Saintri Distributed</p>
    </ion-card>
  </div>

  <!-- Options Menu -->
  <ion-list class="menu-list">

    <ion-item button detail="true" (click)="editProfile()">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <ion-label>Edit Profile</ion-label>
    </ion-item>
  </ion-list>
</ion-content>