<ion-menu [type]="menuType" menuId="main-menu" contentId="main-content" side="start">
  <ion-header>
    <ion-buttons slot="start">
      <img src="assets/SVJ-Images/logo.png" alt="Company Logo" style="max-width: 15%;">
      सबका विकास जयति
    </ion-buttons>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item (click)="navigateAndCloseMenu('/home', true)">
          <ion-icon slot="start" name="home-outline"></ion-icon>
          Dashboard
        </ion-item>
        <ion-item (click)="navigateAndCloseMenu('/groups', true)">
          <ion-icon slot="start" name="people-outline"></ion-icon>
          Groups
        </ion-item>
        <ion-item (click)="navigateAndCloseMenu('/distributed-saintries', true)">
          <ion-icon slot="start" name="medkit-outline"></ion-icon>
          Distributed Saintries
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item (click)="logout()">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Logout
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>