<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="payment-bg">
  <ion-card class="main-card ion-margin">
    <ion-card-header>
      <ion-card-title>Complete Payment</ion-card-title>
      <ion-card-subtitle> Secure Contribution Process </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="summary-box">
        <div class="row-item">
          <span>Reference</span>
          <strong>{{ distributionId }}</strong>
        </div>

        <div class="row-item">
          <span>Amount</span>
          <strong class="amt">₹{{ amount }}</strong>
        </div>
      </div>

      <!-- SELECT MODE -->
      <ion-item class="custom-item ion-margin-top">
        <ion-label position="stacked"> Customer Payment Mode </ion-label>

        <ion-select [(ngModel)]="customerPaymentMode">
          <ion-select-option value="CASH">
            Cash Given To Associate
          </ion-select-option>

          <ion-select-option value="TRANSFER">
            Direct Pay To NGO
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- CASH -->
      <div *ngIf="customerPaymentMode==='CASH'">
        <ion-item class="custom-item ion-margin-top">
          <ion-label position="stacked"> Associate Pays NGO By </ion-label>

          <ion-select [(ngModel)]="paymentMode">
            <ion-select-option value="CASH"> Cash Deposit </ion-select-option>

            <ion-select-option value="UPI"> UPI </ion-select-option>

            <ion-select-option value="CARD"> Card </ion-select-option>

            <ion-select-option value="NETBANKING">
              Net Banking
            </ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <!-- TRANSFER -->
      <div *ngIf="customerPaymentMode==='TRANSFER'">
        <div class="qr-box">
          <h3>Scan & Pay NGO</h3>

          <img src="assets/SVJ-Images/upi-scanner.jpg" class="qr-image" />

          <p>Scan using PhonePe / GPay / Paytm</p>
        </div>

        <ion-item class="custom-item ion-margin-top">
          <ion-label position="stacked"> Enter UTR / Ref No </ion-label>

          <ion-input
            [(ngModel)]="utrNo"
            placeholder="Transaction Number"
          ></ion-input>
        </ion-item>
      </div>

      <ion-button
        expand="block"
        class="pay-btn ion-margin-top"
        [disabled]="isLoading"
        (click)="proceedPayment()"
      >
        <ion-spinner *ngIf="isLoading" class="ion-margin-end"></ion-spinner>

        {{ customerPaymentMode === 'TRANSFER' ? 'I Have Paid' : 'Continue
        Payment' }}
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
